body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: lightgray;
    margin-top: auto;
}

h2, h3, h4 {
    margin-top: 15px;
}

.info {
    color: red;
}

p {
    margin-top: 15px;
}

a {
    color: darkblue;
}

.header {
    background: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 2em;
    border: 5px solid black;
    border-top: 0px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary {
    background-color: lightblue;
    color: black;
    border-color: black;
}

.btn-primary:hover {
    background-color: lightseagreen;
    color: black;
    border-color: black;
}

.form-control {
    border-color: black;
}

.nav {
    margin-top: 15px;
}

.nav-tabs .pill-1 .nav-link:not(.active) {
    background-color:lightgray;
    color: darkblue;
    border: 1px solid lightgray;
    border-bottom-color: black;
}

.nav-tabs .pill-1 .nav-link:not(.active):hover {
    background-color:lightgrey;
    color: black;
    border-color: lightgrey;
    border-bottom-color: black;
}

.nav-tabs .pill-1 .nav-link {
    background-color: lightblue;
    color: black;
    border: 1px solid black;
}

.nav-tabs .pill-1 .nav-link:hover {
    background-color: lightseagreen;
    color: black;
    border: 1px solid black;
}

.bg-custom {
    background-color: white;
    border-color: black;
}

hr.dashed {
    border-top: 1px dashed black;
  }


.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
.rating label:last-child {
    position: static;
  }
  
.rating label:nth-child(1) {
    z-index: 5;
  }
  
.rating label:nth-child(2) {
    z-index: 4;
  }
  
.rating label:nth-child(3) {
    z-index: 3;
  }
  
.rating label:nth-child(4) {
    z-index: 2;
  }
  
.rating label:nth-child(5) {
    z-index: 1;
  }
  
.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
.rating label .icon {
    float: left;
    color: transparent;
  }
  
.rating label:last-child .icon {
    color: gray;
  }
  
.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: orange;
  }
  
.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: gray;
    text-shadow: 0 0 5px #09f;
  }