{% extends "layouts/layout.html" %}
{% block content %}
{% if session.username %}

<h2>Viimeisimmät lukupäivitykset kirjalle {{ book[1] }}:</h2>
<a href="/search/findbooks/{{ book[0] }}">Kirjan tiedot</a>
<br>

<h3>Lisää eteneminen:</h3>
<p>Lisää sivu, jolle etenit. Voit myös palata kirjassa taaksepäin.</p>
<form action="/bookshelf/updateprogress" method="POST">
    <input type="hidden" name="book_id" value="{{ book[0] }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <label for="pages">Olet sivulla:</label>
    <input type="number" id="pages" name="progress" min="0" max="{{ book[5] }}" step="1" value="{{ latest[3] }}">
    <input type="submit" value="Päivitä eteneminen" class="btn btn-primary">
</form>

{% for event in events %} 
<br>
<div class="card bg-custom shadow" style="width: auto;">
    <div class="card-body">
      {% if event[3] != 0 %}
      <form style="text-align: right; float: right;" action="/bookshelf/deleteevent" method="POST">
        <input type="hidden" name="book_id" value="{{ book[0] }}">
        <input type="hidden" name="event_id" value="{{ event[0] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit" class="btn btn-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
        {% endif %}
      </form>
      <h5 class="card-title">Päivitetty: {{ event[4].strftime('%d.%m.%Y klo %H:%M') }}</h5>
      <h5 class="card-title">Etenit sivulle: {{ event[3] }}</h5>
    </div>
  </div>
{% endfor %}
<br>
{% endif %}
{% endblock %}