{% extends "layouts/layout.html" %}
{% block content %}
{% if session.username %}
<h2>Oma kirjahylly</h2>
{% for book in books %}
<br>
<div class="card bg-custom shadow" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">Teos: {{ book[0] }}</h5>
      <h5 class="card-title">Tekijä: {{ book[1] }}</h5>
      <p>Lukupäivitykset: {{ book[2] }}<a href="/bookshelf/progress/{{ book[5] }}"> (Näytä tapahtumat)</a></p>
      <h5 class="card-title">Olet edennyt sivulle: {{ book[3] }}/{{ book[4] }} </h5>
    </div>
  </div>
{% endfor %}
<br>
{% endif %}
{% endblock %}